{% extends 'base.html' %}

{% block content %}
<!-- 
<div class="bg-white">
  <div class="mx-auto max-w-7xl py-24 sm:px-6 sm:py-32 lg:px-8">
    <div
      class="relative isolate overflow-hidden bg-gray-900 px-6 pt-16 shadow-2xl sm:rounded-3xl sm:px-0 md:pt-24 lg:flex lg:gap-x-20 lg:px-24 lg:pt-0">
      <svg viewBox="0 0 1024 1024"
        class="absolute left-1/2 top-1/2 -z-10 h-[64rem] w-[64rem] -translate-y-1/2 [mask-image:radial-gradient(closest-side,white,transparent)] sm:left-full sm:-ml-80 lg:left-1/2 lg:ml-0 lg:-translate-x-1/2 lg:translate-y-0"
        aria-hidden="true">
        <circle cx="512" cy="512" r="512" fill="url(#759c1415-0410-454c-8f7c-9a820de03641)" fill-opacity="0.7" />
        <defs>
          <radialGradient id="759c1415-0410-454c-8f7c-9a820de03641">
            <stop stop-color="#7775D6" />
            <stop offset="1" stop-color="#E935C1" />
          </radialGradient>
        </defs>
      </svg>
      <div class="mx-auto max-w-md text-center lg:mx-0 lg:flex-auto lg:py-32 lg:text-left">
        <h2 class="text-3xl font-bold tracking-tight text-white sm:text-4xl">Demo de um CRUD.<br></h2>
        <p class="mt-6 text-lg leading-8 text-gray-300">Para usar com Python e Flask.</p>
        <div class="mt-10 flex items-center justify-center gap-x-6 lg:justify-start">
          <a href="/cadastro"
            class="rounded-md bg-white px-3.5 py-2.5 text-sm font-semibold text-gray-900 shadow-sm hover:bg-gray-100 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white">Cadastrar</a>
        </div>
      </div>
      <div class="relative mt-16 h-80 lg:mt-0">
        <img class="absolute left-0 top-0 w-[57rem] max-w-none rounded-md bg-white/5 ring-1 ring-white/10"
          src="https://img.freepik.com/fotos-gratis/fundo-abstrato-com-design-baixo-poli_1048-8478.jpg?w=996&t=st=1720636192~exp=1720636792~hmac=847dd790b35fd799d7bdc45b07d34b1ec39174c9fc34879c000c87235c48fe93"
          alt="App screenshot" width="1824" height="1080">
      </div>
    </div>
  </div>
</div> -->


<div class="max-w-7xl mx-auto relative">
  <div class="relative py-16 flex justify-center px-4 sm:px-0">
    <div class="max-w-3xl text-center">
      <div class="pb-4">
        <span
          class="inline-flex items-center rounded-2xl bg-lime-100 px-4 py-1.5 text-xs sm:text-sm font-serif font-medium text-lime-700">Python
          e Flask.</span>
      </div>
      <h1 class="mt-6 text-center text-3xl leading-9 font-extrabold text-gray-900">
        CRUD com Python, Flask e MySql
      </h1>
      <p class="mt-4 text-lg sm:text-xl leading-8 text-gray-800 sm:px-16" style="white-space: pre-line;">
        Aplicação desenvolvida para aprendizado de outros programadores de uma forma bem simles, para ser bem compreendida, foi utilizado Python, Flask e o MySql
      </p>
      <div class="mt-8 flex w-full space-x-8 justify-center"><a href="/exercises"><button
            class="inline-flex items-center justify-center px-4 py-2.5 border border-transparent text-sm font-medium rounded-md shadow-sm focus:outline-none ring-2 ring-offset-2 ring-transparent ring-offset-transparent disabled:bg-gray-400 appearance-none text-white bg-lime-600 hover:bg-lime-700 focus:ring-lime-500 focus:ring-offset-white !px-12 !shadow-lg !rounded-full !text-base">
            <p>Start now for free</p>
          </button></a>
      </div>
    </div>
  </div>
</div>


{% endblock %}